@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* color:  #555555; */
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.quotes {
    min-height: 50%;
    display: flex;
    place-content: center;
    align-items: center;
}

.quotes .box {
    width: 50%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.quotes .box :nth-child(1) {
    font-size: 26px;
    font-weight: 600;
}

.quotes .box :nth-child(2) {
    text-align: end;
}

#name {
    justify-self: end;
}

.but button {
    color: white;
    height: 50px;
    width: 120px;
    border: none;
    font-size: 18PX;
    border-radius: 12px;
    cursor: pointer;
    background-color: #28a745;
    transition: all .3s ease-out;
}

.but button:hover {
    transition: all .3s ease-out;
    background-color: #72ff59;
    border: #188efc solid 1px;
    color: #fff;
    animation: bounce 1.8s;
    animation-delay: .4s;
    /* animation-iteration-count: infinite; */
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
      
      transform: translateY(0);
    }
  
    40% {
      
      transform: translateY(-20px);
    }
  
    80% {
      
      transform: translateY(-10px);
    }
  }